tr.product_list:nth-child(odd) {
  background-color: #f8b0f8;
}

tr.product_list:nth-child(even) {
  background-color: #e0f8f8;
}

.list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

.list_description dd {
        margin: 0;
}

.list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#main #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}

#main h2 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

#main .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#main .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#main .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}
